{
  "presets": [
    ["env", { "targets": { "node": 8 } }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-export-extensions",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ]
}
